﻿@model IEnumerable<Data.PersonViewModel>

<table width="100%">
    <thead>
        <tr>
            <th width="10%">ID</th>
            <th width="30%">Name</th>
            <th width="20%">Gender</th>
            <th width="40%">BirthPlace</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.id</td>
                <td>@person.name</td>
                <td>@person.gender</td>
                <td>@person.BirthPlace</td>
            </tr>
        }
    </tbody>
</table>

