﻿@model Website.Models.SearchViewModel

<p>@Html.TextBoxFor(x => x.Keyword)</p>
<p>
    Gender: @Html.CheckBoxFor(x => x.IsMale)
    @Html.LabelFor(x => x.IsMale)
    @Html.CheckBoxFor(x => x.IsFemale)
    @Html.LabelFor(x => x.IsFemale)
</p>
