﻿
@model Website.Models.SearchViewModel

<div class="jumbotron">
    <h1>DeependAncestry</h1>
    <form method="get" class="form-search">
        <table width="100%">
            <tbody>
                <tr>
                    <td>
                        @{Html.RenderPartial("_simpleSearch", Model);}
                    </td>
                    <td>
                        <p><input type="submit" value="Search" /></p>
                        <p>@Html.ActionLink("Advanced Search", "Advanced")</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            @{Html.RenderPartial("_searchResult", Model.SearchResult);}
        </p>
    </form>
</div>